# Python / Django
*.pyc
__pycache__/
*.sqlite3
*.log
.env
venv/
env/

# Django migrations
*/migrations/*.py
!*/migrations/__init__.py

# Node / React
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
/build
/.env.local

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

